
<table width='100%'>
<tr>
    <td><form><button >Display Image</button></form></td>
    <td><form><button (click) = "ClearCanvas()">Clear Canvas</button></form></td> 
    <td><form><button >Download</button></form></td>
    <td><form><button >Undo</button></form></td>
    <td><form><button >Redo</button></form></td>
</tr>
<tr>
    <td><form><button >Pen</button></form></td> 
    <td><form><button >Eraser</button></form></td>
    <td><form><button >Line</button></form></td>
    <td><form><button >Rectangle</button></form></td>
    <td><form><button >Circle</button></form></td>
    <td><form><button >Heart</button></form></td>
    <td><form><button >Square</button></form></td>
    <td><form><button >Triangle</button></form></td>
</tr>
</table>

<canvas id="myCanvas" width="700" height="500" style="border:1px solid #cac2c2;">
    Can't use HTML5 canvas.
</canvas>

